[submodule "themes/hugo-agency-theme"]
	path = themes/hugo-agency-theme
	url = https://github.com/digitalcraftsman/hugo-agency-theme.git
[submodule "themes/hugo-creative-theme"]
	path = themes/hugo-creative-theme
	url = https://github.com/digitalcraftsman/hugo-creative-theme.git
[submodule "themes/bilberry-hugo-theme"] 
	path = themes/bilberry-hugo-theme
	url = https://github.com/Lednerb/bilberry-hugo-theme.git
