{{ "<!-- ASIDE -->" | safeHTML }}
<section id="showcase" style="padding: 0px;">
    <aside class="bg-dark" style="padding-bottom: 20px;">
        <div class="container text-center">
            <div class="call-to-action">
                {{ with .Site.Params.aside.headline }}<h2>{{ . }}</h2>{{ end }}
                {{ if and .Site.Params.aside.button.link .Site.Params.aside.button.text }}
                    <a href="{{ .Site.Params.aside.button.link }}" class="btn btn-default btn-xl wow tada">{{ .Site.Params.aside.button.text }}</a>
                {{ end }}
            </div>
        </div>
        <div class="container text-center">
                <p style="padding-bottom: 20px;">This example learning integration focuses on basic greetings between teachers and students using the Northern accent suitable for beginners.</p>
                <iframe src="https://elearnvietnamese.h5p.com/content/1290436679514644339/embed" width="1088" height="637" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe><script src="https://elearnvietnamese.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>
                {{ template "_internal/disqus.html" . }}
            </div>
    </aside>
</section>